<form class="challenge-form" data-id="{{challenge.id}}">
  <div class="form-group">
    <h2>Enter Challenge {{challenge.id}}</h2>
    {{#each coins as |coin|}}
      <label for="coin{{coin.id}}">{{coin.name}} ({{coin.ticker_symbol}})</label>
      <input type="number" class="form-control coin-input-amount" id="coin{{coin.id}}" aria-describedby="coin{{coin.id}}Input" placeholder="0.0" data-id="{{coin.id}}">
      <br/>
    {{/each}}
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<script src="/js/submitPortfolio.js"></script>


<section>
  <div class="container py-4 h-50" style="width: 35rem">
    <div class="row d-flex justify-content-center align-items-center h-50">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-3" style="width: 25rem;">

                <div class="thumbnail">
                  <img src="../public/assets/fantasy-logo.png" alt="logo" class="img-thumbnail">
                </div>

                <form class="challenge-form" data-id="{{challenge.id}}">
                  <h2>Enter Challenge</h2>
                  {{#each coins as |coin|}}
                  <div class="form-outline mb-6">
                    <label for="coin{{coin.id}}">{{coin.name}} ({{coin.ticker_symbol}})</label>
                    <input type="number" class="form-control coin-input-amount" id="coin{{coin.id}}"
                      aria-describedby="coin{{coin.id}}Input" placeholder="0.0" data-id="{{coin.id}}">
                    <br />
                    {{/each}}
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</section>

<script src="/js/submitPortfolio.js"></script>