<div class="value-container">
  <div class="row">
    <div class="col-sm-8">
      <div class="portfolio jumbotron">
        <h3 class="display-6">Portfolio {{portfolio.id}} -
          <a href="/challenge/{{portfolio.challenge_id}}">Challenge
            {{portfolio.challenge_id}}</a></h3>
        <hr class="my-4" />
        {{! Display Challenge link  }}
      </div>

      <ul class="coin-card">
        {{#each coinEntries as |coin|}}
          <li>
            <h3 class="coin-name">Coin: {{coin.name}}</h3>
            <p class="coin-description coin-amount">Amount: {{coin.amount}}</p>
            <p class="coin-description">Start Value: {{coin.startValue}}</p>
            <p class="coin-description">Current Value: {{coin.currentValue}}</p>
          </li>
        {{/each}}
      </ul>
      <div class="values-card">
        <p>Start Value: {{startValue}}</p>
        <p>Current Value: {{currentValue}}</p>
      </div>
    </div>

    <div class="col-sm-4">
      <canvas id="pie_chart"></canvas><p class="chart">Chart Here</p>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/piechart.js"></script>